@model IEnumerable<OSHABM_proj.Models.Payment>

@{
    ViewBag.Title = "Payment Details for Admin";
}
<!-- header section start -->
<div class="header_section">
    <nav class="destop_header navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo"></div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="logo_main" href="@Url.Action("Index","Welcome")">
                        <img src="~/Content/images/OSHABM logo.png" height="100" width="200" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @Html.ActionLink("Home", "Index", "Welcome")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @Html.ActionLink("About", "Index", "Welcome")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @Html.ActionLink("Services", "Index", "Welcome")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @Html.ActionLink("Images", "Index", "Welcome")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @Html.ActionLink("Contact", "Index", "Welcome")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Login","Welcome")">
                        <img src="~/Content/images/search-icon.png">
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" @Html.ActionLink("LOGIN", "Login", "Welcome")</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- header section end -->
<div style="background-color:navajowhite">
    <br />
    <br />
    <h2>Payment Details for Admin</h2>

    <p>

    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PayID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment_Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_of_Booking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time_of_Booking)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PayID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuditID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment_Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_of_Booking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time_of_Booking)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>

        }
    </table>
    @Html.ActionLink("Back to admin page","AdminPage", "StaffDetail")
</div>
<!-- footer section start -->
<!-- info section -->
<div class="info_section layout_padding">
    <div class="container ">
        <div class="info_content">
            <div>
                <div class="row">
                    <div class="col-md-4" style="max-width:19.3%">

                        <div class="d-flex ">
                            <ul>
                                <li>
                                    <a href="#About">
                                        ABOUT US
                                    </a>
                                </li>
                                <li>
                                    <a href="#Services">
                                        SERVICES
                                    </a>
                                </li>
                                <li>
                                    <a href="#Contact">
                                        CONTACT US
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="max-width:19.3%">
                            <div class="d-flex">
                                <ul class="ml-3 ml-md-5">
                                    <li>
                                        <a href="">
                                            PRIVACY POLICY
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            DISCLAIMER
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            TERMS & CONDITIONS
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" style="max-width:19.3%">
                        <div class="d-flex ">
                            <ul>
                                <li>
                                    <a href="">
                                        BLOG
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        SITEMAP
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4" style="max-width:19.3%">
                        <div class="d-flex ">
                            <ul>
                                <li>
                                    <a href="">
                                        BOOKINGS
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        PAYMENTS
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        FEEDBACK
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Create", "QueryDetail")">
                                        QUERY
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-baseline">
                        <div class="social-box">
                            <a href="" target="_blank" rel="nofollow">
                                <img src="~/Content/images/fb-icon.png" alt="" />
                            </a>
                            <a href="" target="_blank" rel="nofollow">
                                <img src="~/Content/images/twitter-icon.png" alt="" />
                            </a>
                            <a href="" target="_blank" rel="nofollow">
                                <img src="~/Content/images/linkedin-icon.png" alt="" />
                            </a>
                            <a href="" target="_blank" rel="nofollow">
                                <img src="~/Content/images/instagram-icon.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end info section -->
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
    <div class="container">
        <p class="copyright">© 2023 Online Seminar Halls and Auditorium Booking Management. All Rights Reserved</p>
    </div>
</div>