
@{
    ViewBag.Title = "Online Seminar Halls and Auditorium Booking Management";
}

<!-- header section start -->
<div class="header_section">
    <nav class="destop_header navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo"></div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="logo_main" href="@Url.Action("Index","Welcome")">
                        <img src="~/Content/images/OSHABM logo.png" height="100" width="200" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Images">Images</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Login","Welcome")">
                        <img src="~/Content/images/search-icon.png">
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Login","Welcome")">LOGIN</a>
                    <a name="Index"></a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- header section end -->
<!-- banner section start -->
<div class="banner_section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 padding_0">
                <div id="main_slider" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="banner_bg">
                                <div class="banner_taital_main">
                                    <h1 class="banner_taital">
                                        Online Seminar Halls<br>
                                        and Auditorium Booking
                                        <br>Management
                                    </h1>
                                    <p class="long_text">Online Seminar Halls and Auditorium Booking Management is perfect venue for Conference, Seminar, Award Ceremony and Corporate Events.</p>
                                    <div class="btn_main">
                                        <div class="about_us"><a href="#">About Us</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="banner_bg">
                                <div class="banner_taital_main">
                                    <h1 class="banner_taital">
                                        Theatres And Auditoriums<br>
                                    </h1>
                                    <p class="long_text">Online Seminar Halls and Auditorium Booking Management understands the importance of your event & we take it upon us to make sure that every moment you share with us is a grand experience for you.</p>
                                    <div class="btn_main">
                                        <div class="about_us"><a href="#">About Us</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="banner_bg">
                                <div class="banner_taital_main">
                                    <h1 class="banner_taital">
                                        Corporate Event-Conferenc Room<br>
                                        Meeting space-Auditorium
                                    </h1>
                                    <p class="long_text">OSHABM is perfect venue for Conference, Seminar, Award Ceremony and Corporate Events.</p>
                                    <div class="btn_main">
                                        <div class="about_us"><a href="#">About Us</a></div>
                                        <div class="about_bt"><a href="#">Get Appointment</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6 padding_0">
                <div class="banner_img">

                </div>

            </div>
        </div>
    </div>
</div>
<!-- banner section end -->
<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="about_taital">
                    <a name="About">
                        <h4 class="about_text">About</h4>
                    </a>
                    <h1 class="highest_text">Online Seminar Halls and Auditorium Booking Management</h1>
                    <p class="lorem_text">
                        Experience the grandeur and a seamless experience at Online Seminar Halls and Auditorium Booking Management. If you are looking for a huge space for an event then you have landed in the right place. You can easily book this grand venue. This place promises a perfect ambience for all kinds of corporate or social events. The key highlights of this auditorium are its huge area as well as the flexibility to be used for any kind of social event.<br /> <br />The space is specially designed to make your event a success! Their spacious AC Banquets
                        are available for all kinds of events; be it a corporate, social or religious get-together. It is also equipped with a state-of-the-art theatre with cosy seating arrangements for your comfort and luxury. The perfect ambience as well as service backed by warm smiles and delectable cuisines will surely make your event a memorable one.<br /><br />Contact us to experience a wonderful and memorable event.
                    </p>
                    <a href="#Index">Go to up!</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image_2" href="#"><img src="~/Content/images/auditImage_1.jpg"></div>
                <br />
                <div>
                    <div class="image_2" href="#"><img src="~/Content/images/auditImage_2.jpg" height="287px"></div>
                </div>
            </div>
        </div>
    </div>
</div>

    

<!-- about section end -->
<!-- services section start -->
<div class="services_section layout_padding">
    <div class="container">
        <a name="Services">
            <h4 class="about_text">Services</h4>
        </a>
        <div class="row">

            <div class="col-lg-4">
                <div class="call_box">
                    <div class="call_image"><img src="~/Content/images/Audit_Place_1.jpg"></div>
                    <h2 class="emergency_text">Corporate Events</h2>
                    <p class="dolor_text">Our spaces are designed in a way that is suitable<br /> for all kinds of corporate events such as success parties, product launches, conferences, seminars and so on.  </p>
                    <a class="nav-link" href="#"><h1 class="call_text">Enquire Now</h1></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="call_box active">
                    <div class="call_image"><img src="~/Content/images/conf-hall.jpg"></div>
                    <h2 class="emergency_text">Conference/<br />Convention</h2>
                    <p class="dolor_text">The spaces provided by us are well-suited for big conferences and conventions because of the huge space and well-equipped audio-visual setup.  </p>
                    <a class="nav-link" href="#"><h1 class="call_text">Enquire Now</h1></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="call_box">
                    <div class="call_image"><img src="~/Content/images/Concert_room.jpg"></div>
                    <h2 class="emergency_text">Concert</h2>
                    <p class="dolor_text">If you are thinking of planning to organise a concert or an album launch then this is the right place for you! It has the right setup and amenities to host one. </p>
                    <a class="nav-link" href="#"><h1 class="call_text">Enquire Now</h1></a>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4">
                <div class="call_box">
                    <div class="call_image"><img src="~/Content/images/Saminar_room.jpg"></div>
                    <h2 class="emergency_text">Seminar/Talk</h2>
                    <p class="dolor_text">
                        It boasts of a state-of-the-art theatre that provides cosy seating arrangements for your comfort and luxury making it a popular choice for the seminar and talk shows.
                    </p>
                    <a class="nav-link" href="#"><h1 class="call_text">Enquire Now</h1></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="call_box active">
                    <div class="call_image"><img src="~/Content/images/images.jpeg"></div>
                    <h2 class="emergency_text">Festival/Fair</h2>
                    <p class="dolor_text">For a fun and frolic celebration of a festival or hosting a fair, this place can be a good option to serve as a venue. The amenities provided at this place make it a good option.  </p>
                    <a class="nav-link" href="#"><h1 class="call_text">Enquire Now</h1></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="call_box">
                    <div class="call_image"><img src="~/Content/images/Wokeshope_space.jpg"></div>
                    <h2 class="emergency_text">Workshops</h2>
                    <p class="dolor_text">Looking for a venue to organise a Workshops then you should opt for this space as this place is well-equipped with an advanced AV system. </p>
                    <a class="nav-link" href="#"><h1 class="call_text">Enquire Now</h1></a>
                </div>
            </div>
        </div>
        <a href="#Index">Go to up!</a>
    </div>
</div>
<!-- services section end -->
<!-- Images Start -->

<div class="image_section layout_padding">
    <div class="container">
        <a name="Images">
            <h4 class="about_text">Images</h4>
        </a>
        <div class="row">

            <p>The great capacity and availability of all fundamental amenities at this place wipe out all kinds of concerns.</p>
            <div class="col-lg-4">
                <img src="~/Content/images/Image_1.png" />
            </div>
            <div class="col-lg-4">
                <img src="~/Content/images/Image_2.jpg" />
            </div>
            <div class="col-lg-4">
                <img src="~/Content/images/Image_3.jpg" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4">
                <img src="~/Content/images/Image_4.jpg" />
            </div>
            <div class="col-lg-4">
                <img src="~/Content/images/Image_5.jpg" />
            </div>
            <div class="col-lg-4">
                <a href="#">
                    <img src="~/Content/images/Image_7.jpg" />
                    <span>View More</span>
                </a>
            </div>
        </div>
        <a href="#Index">Go to up!</a>
    </div>    
    <br />
    <br />
</div>

<!-- Images end -->
<!-- contact section start -->
<div class="contact_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a name="Contact">
                    <h1 class="contact_text">Contact Us</h1>
                </a>
                <form action="/action_page.php">
                    <div class="form-group">
                        <input type="text" class="email-bt" placeholder="Name" name="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="email-bt" placeholder="Phone no." name="Phone">
                    </div>
                    <div class="form-group">
                        <input type="text" class="email-bt" placeholder="Email" name="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="email-bt" placeholder="Event Date" name="EventDate">
                    </div>
                    <div class="form-group">
                        <textarea class="massage-bt" placeholder="Event Type" rows="5" id="comment" name="text"></textarea>
                    </div>
                </form>
                <div class="main_bt"><a href="">Submit Query</a></div>
            </div>
            <div class="col-md-6">
                <h1 class="contact_text">Plan your Event with us</h1>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="client_main">
                                <p class="lorem_ipsum_text">Online Seminar Halls and Auditorium Booking Management is perfect venue for Conference, Seminar, Award Ceremony and Corporate Events. Excelsior American Centre understands the importance of your event whether it is a corporate event or a social function & we take it upon us to make sure that every moment youshare with us is a grand experience for you. </p>
                                <div class="quote_icon"><img src="~/Content/images/Contact_us_image.jpg"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#Index">Go to up!</a>
        </div>
    </div>
</div>
<!-- contact section end -->
<!-- footer section start -->
<!-- info section -->
<div class="info_section layout_padding">
    <div class="container ">
        <div class="info_content">
            <div>
                <div class="row">
                    <div class="col-md-4" style="max-width:19.3%">

                        <div class="d-flex ">
                            <ul>
                                <li>
                                    <a href="#About">
                                        ABOUT US
                                    </a>
                                </li>
                                <li>
                                    <a href="#Services">
                                        SERVICES
                                    </a>
                                </li>
                                <li>
                                    <a href="#Contact">
                                        CONTACT US
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="max-width:19.3%">
                            <div class="d-flex">
                                <ul class="ml-3 ml-md-5">
                                    <li>
                                        <a href="">
                                            PRIVACY POLICY
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            DISCLAIMER
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            TERMS & CONDITIONS
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" style="max-width:19.3%">
                        <div class="d-flex ">
                            <ul>
                                <li>
                                    <a href="">
                                        BLOG
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        SITEMAP
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4" style="max-width:19.3%">
                        <div class="d-flex ">
                            <ul>
                                <li>
                                    <a href="@Url.Action("Login", "Welcome")">
                                        BOOKINGS
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Login", "Welcome")">
                                        PAYMENTS
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Create", "FeedbackDetail")">
                                        FEEDBACK
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Create", "QueryDetail")">
                                        QUERY
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-baseline">
                        <div class="social-box">
                            <a href="" target="_blank" rel="nofollow">
                                <img src="~/Content/images/fb-icon.png" alt="" />
                            </a>
                            <a href="" target="_blank" rel="nofollow">
                                <img src="~/Content/images/twitter-icon.png" alt="" />
                            </a>
                            <a href="" target="_blank" rel="nofollow">
                                <img src="~/Content/images/linkedin-icon.png" alt="" />
                            </a>
                            <a href="" target="_blank" rel="nofollow">
                                <img src="~/Content/images/instagram-icon.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- end info section -->
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
    <div class="container">
        <p class="copyright">© 2023 Online Seminar Halls and Auditorium Booking Management. All Rights Reserved</p>
    </div>
</div>
<!-- Javascript files-->
<!--<script src="~/Content/js/jquery.min.js"></script>
<script src="~/Content/js/popper.min.js"></script>
<script src="~/Content/js/bootstrap.bundle.min.js"></script>

<script src="~/Content/js/plugin.js"></script>-->
<!-- sidebar -->
<!--<script src="~/Content/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/Content/js/custom.js"></script>-->
<!-- javascript -->

