@model OSHABM_proj.Models.User

@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- header section start -->
<div class="header_section">
    <nav class="destop_header navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo"></div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="logo_main" href="@Url.Action("Index","Welcome")">
                        <img src="~/Content/images/OSHABM logo.png" height="100" width="200" />
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @Html.ActionLink("Home", "Index", "Welcome")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @Html.ActionLink("About", "Index", "Welcome")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @Html.ActionLink("Services", "Index", "Welcome")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @Html.ActionLink("Images", "Index", "Welcome")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @Html.ActionLink("Contact", "Index", "Welcome")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Login","Welcome")">
                        <img src="~/Content/images/search-icon.png">
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" @Html.ActionLink("LOGIN", "Login", "Welcome")</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- header section end -->
<div style="background-color:khaki">
    <br />
    <br />
    <h2>User</h2>

    <div>
        <h4>User</h4>
        <hr />
        <dl class="dl-horizontal">
            <div style="margin-left:50px">
                <table>
                    <tr>
                        <td>
                            Name : 
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Name)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Password : 
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Password)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Address : 
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Address)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Mobile : 
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Mobile)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            EmailID : 
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.EmailID)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Photo : 
                        </td>
                        <td>
                            @if (@Html.DisplayFor(model => model.Photo) != null)
                            {
                                string path = Model.Photo;
                                <img alt="" src="@path" style="height:100px;width:100px;" />
                            }
                        </td>
                    </tr>
                   
                </table>
                <dt>
                    
                </dt>

                @*<dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Password)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Password)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Mobile)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Mobile)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EmailID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmailID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Photo)
                </dt>

                <dd>
                    @if (@Html.DisplayFor(model => model.Photo) != null)
                    {
                        string path = Model.Photo;
                        <img alt="" src="@path" style="height:100px;width:100px;" />
                    }
                </dd>*@
            </div>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit Profile", "Edit", "UserDetail", null, new { id = Model.EmailID, @style = "color:#000aaa" }) <br />
        @Html.ActionLink("Book Now", "Auditorium", "Auditorium",null , new { style="color:#000aaa"}) <br />        
        @Html.ActionLink(linkText:"Bookings", actionName:"Booking", controllerName:"BookingDetail", routeValues: new { EmailID = Model.EmailID }, htmlAttributes: null) <br />
        @Html.ActionLink("Payment Details", "PaymentUserDetail", "PaymentDetail", null, new { style = "color:#000aaa" }) <br />
        @Html.ActionLink("Booking Cancel", "Create", "CancellationDetail", null, new { style = "color:#000aaa" })<br />
        @Html.ActionLink("Delete Account", "Create", "QueryDetail", null, new { style = "color:#000aaa" })<br />
        @Html.ActionLink("Log Out", "Index", "Welcome", null, new { style = "color:#000aaa" })<br />
    </p>
</div>
<!-- footer section start -->
<!-- info section -->
<div class="info_section layout_padding">
    <div class="container ">
        <div class="info_content">
            <div>
                <div class="row">
                    <div class="col-md-4" style="max-width:19.3%">

                        <div class="d-flex ">
                            <ul>
                                <li>
                                    <a href="#About">
                                        ABOUT US
                                    </a>
                                </li>
                                <li>
                                    <a href="#Services">
                                        SERVICES
                                    </a>
                                </li>
                                <li>
                                    <a href="#Contact">
                                        CONTACT US
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="max-width:19.3%">
                            <div class="d-flex">
                                <ul class="ml-3 ml-md-5">
                                    <li>
                                        <a href="">
                                            PRIVACY POLICY
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            DISCLAIMER
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            TERMS & CONDITIONS
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" style="max-width:19.3%">
                        <div class="d-flex ">
                            <ul>
                                <li>
                                    <a href="">
                                        BLOG
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        SITEMAP
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4" style="max-width:19.3%">
                        <div class="d-flex ">
                            <ul>
                                <li>
                                    <a href="">
                                        BOOKINGS
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        PAYMENTS
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        FEEDBACK
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Create", "QueryDetail")">
                                        QUERY
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-baseline">
                        <div class="social-box">
                            <a href="" target="_blank" rel="nofollow">
                                <img src="~/Content/images/fb-icon.png" alt="" />
                            </a>
                            <a href="" target="_blank" rel="nofollow">
                                <img src="~/Content/images/twitter-icon.png" alt="" />
                            </a>
                            <a href="" target="_blank" rel="nofollow">
                                <img src="~/Content/images/linkedin-icon.png" alt="" />
                            </a>
                            <a href="" target="_blank" rel="nofollow">
                                <img src="~/Content/images/instagram-icon.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end info section -->
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
    <div class="container">
        <p class="copyright">© 2023 Online Seminar Halls and Auditorium Booking Management. All Rights Reserved</p>
    </div>
</div>
<!-- copyright section end -->
<!-- Javascript files-->
<!--<script src="~/Content/js/jquery.min.js"></script>
<script src="~/Content/js/popper.min.js"></script>
<script src="~/Content/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/js/jquery-3.0.0.min.js"></script>
<script src="~/Content/js/plugin.js"></script>-->
<!-- sidebar -->
<!--<script src="~/Content/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/Content/js/custom.js"></script>-->
<!-- javascript -->
